body,
button,
input,
select,
textarea {
  font-family: "iranyekan", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.temp {
  background-color: green;
  font-family: 'dana';
}

@font-face {
  font-family: 'dana';
  src: url(../Fonts/DanaFaNum-DemiBold.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

.hero {
  justify-content: space-between;
  flex-direction: row;
  direction: rtl;
}

.level-left {
  flex-direction: column;

}

:root {
  --primary-color: hwb(152 9% 32% / 0.689);
  --font-size-large: 1.5rem;
  --padding: 15px;
}

.button.is-rounded {
  background-color: var(--primary-color);
  padding: var(--padding);
  font-size: var(--font-size-large);
}

.box-in-box {
  --bulma-box-background-color: var(--bulma-scheme-main);
  --bulma-box-color: var(--bulma-text);
  --bulma-box-radius: var(--bulma-radius-large);
  --bulma-box-shadow: var(--bulma-shadow);
  --bulma-box-padding: 1.25rem;
  --bulma-box-link-hover-shadow: 0 0.5em 1em -0.125em hsla(var(--bulma-scheme-h), var(--bulma-scheme-s), var(--bulma-scheme-invert-l), 0.1), 0 0 0 1px var(--bulma-link);
  --bulma-box-link-active-shadow: inset 0 1px 2px hsla(var(--bulma-scheme-h), var(--bulma-scheme-s), var(--bulma-scheme-invert-l), 0.2), 0 0 0 1px var(--bulma-link);
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.tag-full-width {
  background-color: aliceblue;
}

.input-tag-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.input-tag-container .input {
  flex-grow: 1;
  margin-left: 0.5rem;
}

.tag.is-fullwidth {
  width: 100%;
  display: block;
}

.equal-height {
  display: flex;
  align-items: stretch;
}

.box-is-fullhight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.is-slightly-rounded {
  border-radius: 0.4rem;
}

.book-cover {
  width: 10rem;
}

.item-cover {
  width: 4rem;
  height: 4rem;
}

.book-detailed-box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.yellow-text {
  background-color: #fbf4e184;
  font-size: 0.8rem;
  margin: 0.2rem;
  padding: 0.25rem;
}

.flex-wrap-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  
}

.subjects-formation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }

.flex-box {
  display: flex;
}

.image {
  margin: 0 !important;
}

.Text-counting-questions {
  white-space: nowrap;
  font-size: 0.7rem;
}

.price-text {
  font-size: 0.7rem;
}

.membership-text {
  font-weight: bold;
  font-size: 0.7rem;
}

.mobile-submit-buttom {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 1rem;
}

@media only screen and (max-width: 910px) {
  .width-tablet {
    max-width: 30rem;
  }
}

@media only screen and (max-width: 500px) {
  .product-price-column {
    width: 15.5rem;
  }
}

.button.is-checked {
  background-color: #48c774 !important;
  color: white;
}
.button.is-checked::before {
  content: "\2713";
  margin-left: 0.8rem;
  font-size: 0.7rem;
}